.chat-container {
    display: flex;
    flex-direction: row;
}

.chat-section {
    flex: 0 0 15%;
    border-right: 1px solid #e0e0e0; /* adjust color as needed */
    height: 100vh;
    overflow-y: auto;
    padding: 16px;
}

.prompt-section {
    width:85%;
    overflow-y: auto;
    padding: 16px;
}
