.container {
    height: 100vh;
    width: 100vw;
}

.header {
    background-color: white;
}

.brand {
    font-size: 2.3rem;
    padding: 10;
}

.content {
    padding: 24px;
}

.contentwrapper {
    padding: 24px;
}

.center-wrapper {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 64px;
    padding-bottom: 64px;
}

.settings-form-fields {
    max-width: 600px;
}

.settings-form-field-100 {
    max-width: 100%;
    margin-right: 24px;
}

.settings-form-buttons {
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid #f0f0f0;
}

.settings-form-buttons button {
    margin: 12px 24px 16px 12px;
}
