.container {
    width: 100vw;
}

.header {
    --background-color: white;
    background: rgb(39,0,102);
    background: linear-gradient(90deg, rgba(39,0,102,1) 0%, rgba(137,33,181,1) 49%, rgba(231,0,255,1) 100%);
    color: white;
}

.brand {
    font-size: 2rem;
    cursor: pointer;
}

.content {
    padding: 24px;
}

.contentwrapper {
    padding: 24px;
}

.wrapper-100vh {
    overflow-y: scroll
}

.wrapper-content {
    margin: 24px;
}

.center-wrapper {
    height: calc(100vh - 64px);
    margin-left: auto;
    margin-right: auto;
    padding: 10%;
    padding-top: 5%;
    overflow-y: auto;
}

.settings-form-fields {
    /* max-width: 600px; */
    /* padding-left: 24px;
    padding-right: 24px; */
}


.settings-form-buttons {
    display: flex;
    justify-content: flex-end;
}

.settings-form-buttons button {
    margin-bottom: 12px;
}

.settings-checkbox {
    width: 100%;
    margin-top: 2%;
}