.center-wrapper {
  height: calc(100vh - 64px);
  margin-left: auto;
  margin-right: auto;
  padding: 2%;
  padding-top: 2%;
  overflow-y: auto;
  max-width: 1200px;
}

.page-headers {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.settings-form-buttons {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #203846;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #203846;
  border-radius: 20px;
}
