.logowrapper {
  display: flex;
  width: 800px;
  height: 400px;
}

.loginform {
  background-color: #09203e;
  backdrop-filter: blur(3px);
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 300px;
  padding: 20px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  z-index: 100;
}

.logocontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../assets/headerLogo.png") no-repeat center center;
  background-size: 90%;
  background-color: #09203e;
  background-size: contain;
  width: 60%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  z-index: 100;
}

@media (max-width: 768px) {
  .logocontainer {
    display: none;
  }
  .loginform {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }
}

.erroralert {
  padding-bottom: 15px;
}

a {
  color: #ED6D5A;
  text-decoration: none;
}

.ant-form-item {
  width: 100%;
}
