.logowrapper {
    display: flex;
    align-items: stretch;
    justify-content: center;
}

.loginform {
    /* background-color: rgba(255, 255, 255, 0.95); */
    border: 1px solid white;
    backdrop-filter: blur(3px);
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    align-items: stretch;
}

.logocontainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .logocontainer {
        display: none;
    }
}

.erroralert {
    padding-bottom: 15px;
}